<!DOCTYPE html>
<html>
  <head>
    <title>Books Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class='bg-yellow-500/25'>
      <aside data-controller='locale'>
        <%= form_tag store_index_path, method: 'get', class: 'locale' do %>
          <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s),
              onchange: 'this.form.submit()' %>
          <%= submit_tag 'submit', data: {'locale-target' => 'submit'} %>
        <% end %>
      </aside>

      <%= image_tag 'my_header_logo.png', class: 'h-16' %>
      <h1><%= @page_title %></h1>
    </header>

    <section class='flex'>
      <nav class='bg-yellow-500/30 p-6'>
        <%= render partial: 'layouts/cart', locals: {cart: @cart} %>

        <ul class='text-lg font-medium leading-10'>
          <li><a href=''><%= t('.home') %></a></li>
          <li><a href='/questions'><%= t('.questions') %></a></li>
          <li><a href='/news'><%= t('.news') %></a></li>
          <li><a href='/contact'><%= t('.contact') %></a></li>
          <li></li>
        </ul>

        <% if session[:user_id] %>
          <hr class='bg-black my-2 p-0.5 rounded-lg'>

          <ul class='leading-8 font-medium text-lg'>
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %></li>
          </ul>
        <% end %>
      </nav>
      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
